{% extends  'base.html' %}
{% load crispy_forms_tags %}


{% block main %}
<a href="{% url 'login' %}" class= 'btn btn-primary' style="margin-left: 20px; margin-top:10px;">Back</a>
<div class="form-group" >
  <h2>Change Password</h2>
  <div class="container container-small">

<form method="post">
    {% csrf_token %}
    <input type="hidden" name="next" value="{{ next }}">
    
    {{ form|crispy }}
    <button type="submit" class="btn btn-primary btn-block">Sumbit</button>
</form>
</p>
 </div>
</div>

{% endblock %}